In [1]:
#Checking for missing values using isnull() method.
#Counting missing values using isnull().sum().
#Dropping rows with missing values using dropna(axis=0).
#Dropping columns with missing values using dropna(axis=1).
#Filling missing values with the mean or median using fillna() method with mean() or median().

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a sample DataFrame with missing values
data = {'Name': ['Alice', 'Bob', 'Charlie', np.nan, 'Emily'],
        'Age': [25, np.nan, 35, 40, 45],
        'City': ['New York', 'Los Angeles', np.nan, 'Houston', 'Boston']}
df = pd.DataFrame(data)

In [4]:
# Check for missing values
print("Checking for missing values:")
print(df.isnull())  # True indicates missing value, False indicates non-missing value

Checking for missing values:
    Name    Age   City
0  False  False  False
1  False   True  False
2  False  False   True
3   True  False  False
4  False  False  False

In [5]:
# Count missing values
print("\nCount of missing values in each column:")
print(df.isnull().sum())

Count of missing values in each column:
Name    1
Age     1
City    1
dtype: int64

In [6]:
# Drop rows with missing values
print("\nDropping rows with missing values:")
df_drop_row = df.dropna(axis=0)  # axis=0 for rows
print(df_drop_row)

Dropping rows with missing values:
    Name   Age      City
0  Alice  25.0  New York
4  Emily  45.0    Boston

In [7]:
# Drop columns with missing values
print("\nDropping columns with missing values:")
df_drop_col = df.dropna(axis=1)  # axis=1 for columns
print(df_drop_col)

Dropping columns with missing values:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [12]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing numerical values
data = {'Age': [25, np.nan, 35, np.nan, 45],
        'Salary': [50000, np.nan, 70000, np.nan, 90000]}
df = pd.DataFrame(data)

# Fill missing numerical values with mean
df_filled_mean = df.fillna(df.mean())
print("DataFrame with missing values filled with mean:")
print(df_filled_mean)

DataFrame with missing values filled with mean:
    Age   Salary
0  25.0  50000.0
1  35.0  70000.0
2  35.0  70000.0
3  35.0  70000.0
4  45.0  90000.0

In [13]:
# Create a sample DataFrame with missing numerical values
data = {'Age': [25, np.nan, 35, np.nan, 45],
        'Salary': [50000, np.nan, 70000, np.nan, 90000]}
df = pd.DataFrame(data)

# Fill missing numerical values with median
df_filled_median = df.fillna(df.median())
print("\nDataFrame with missing values filled with median:")
print(df_filled_median)

DataFrame with missing values filled with median:
    Age   Salary
0  25.0  50000.0
1  35.0  70000.0
2  35.0  70000.0
3  35.0  70000.0
4  45.0  90000.0