In [1]:
#Column selection: selecting one or more columns from the DataFrame.
#Row selection: selecting rows by label or integer index.
#Conditional selection: selecting rows based on a condition.
#Column addition: adding a new column to the DataFrame.
#Column deletion: removing a column from the DataFrame.
#Column update: updating values in a column.
#Indexing: setting a column as the index.
#Removing index: resetting the index or removing it.
#Operations between columns: performing arithmetic operations between columns.

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Boston']}
df = pd.DataFrame(data)

In [3]:
# Column selection
print("Column selection:")
print(df['Name'])  # Selecting a single column
print(df[['Name', 'City']])  # Selecting multiple columns

Column selection:
0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: Name, dtype: object
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
4    Emily       Boston

In [4]:
# Row selection
print("\nRow selection:")
print(df.loc[1])  # Selecting a single row by label
print(df.iloc[2])  # Selecting a single row by integer index
print(df.loc[1:3])  # Selecting multiple rows by label range

Row selection:
Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object
Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [5]:
# Conditional selection
print("\nConditional selection:")
print(df[df['Age'] > 30])  # Selecting rows based on condition

Conditional selection:
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4    Emily   45   Boston

In [6]:
# Column addition
df['Salary'] = [60000, 70000, 80000, 90000, 100000]
print("\nAfter adding 'Salary' column:")
print(df)

After adding 'Salary' column:
      Name  Age         City  Salary
0    Alice   25     New York   60000
1      Bob   30  Los Angeles   70000
2  Charlie   35      Chicago   80000
3    David   40      Houston   90000
4    Emily   45       Boston  100000

In [7]:
# Column deletion
df.drop(columns=['City'], inplace=True)
print("\nAfter deleting 'City' column:")
print(df)

After deleting 'City' column:
      Name  Age  Salary
0    Alice   25   60000
1      Bob   30   70000
2  Charlie   35   80000
3    David   40   90000
4    Emily   45  100000

In [8]:
# Column update
df['Age'] = df['Age'] + 1
print("\nAfter updating 'Age' column:")
print(df)

After updating 'Age' column:
      Name  Age  Salary
0    Alice   26   60000
1      Bob   31   70000
2  Charlie   36   80000
3    David   41   90000
4    Emily   46  100000

In [9]:
# Indexing
print("\nIndexing:")
print(df.set_index('Name'))  # Setting 'Name' column as index

Indexing:
         Age  Salary
Name
Alice     26   60000
Bob       31   70000
Charlie   36   80000
David     41   90000
Emily     46  100000

In [10]:
# Removing index
print("\nRemoving index:")
print(df.reset_index(drop=True))  # Resetting index and dropping old index

Removing index:
      Name  Age  Salary
0    Alice   26   60000
1      Bob   31   70000
2  Charlie   36   80000
3    David   41   90000
4    Emily   46  100000

In [11]:
# Operations between columns
print("\nOperations between columns:")
df['Age_Salary_Ratio'] = df['Age'] / df['Salary']
print(df)

Operations between columns:
      Name  Age  Salary  Age_Salary_Ratio
0    Alice   26   60000          0.000433
1      Bob   31   70000          0.000443
2  Charlie   36   80000          0.000450
3    David   41   90000          0.000456
4    Emily   46  100000          0.000460

In [12]:
# Operations between columns
print("\nOperations between columns:")
df['Age_Salary_Ratio'] = df['Age'] * df['Salary']
print(df)

Operations between columns:
      Name  Age  Salary  Age_Salary_Ratio
0    Alice   26   60000           1560000
1      Bob   31   70000           2170000
2  Charlie   36   80000           2880000
3    David   41   90000           3690000
4    Emily   46  100000           4600000

In [13]:
# Operations between columns
print("\nOperations between columns:")
df['Age_Salary_Ratio'] = df['Age'] + df['Salary']
print(df)

Operations between columns:
      Name  Age  Salary  Age_Salary_Ratio
0    Alice   26   60000             60026
1      Bob   31   70000             70031
2  Charlie   36   80000             80036
3    David   41   90000             90041
4    Emily   46  100000            100046

In [14]:
# Operations between columns
print("\nOperations between columns:")
df['Age_Salary_Ratio'] = df['Age'] - df['Salary']
print(df)

Operations between columns:
      Name  Age  Salary  Age_Salary_Ratio
0    Alice   26   60000            -59974
1      Bob   31   70000            -69969
2  Charlie   36   80000            -79964
3    David   41   90000            -89959
4    Emily   46  100000            -99954