In [2]:
import pandas as pd

In [3]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Boston']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4    Emily   45       Boston

In [17]:
import pandas as pd

df = pd.read_csv('Desktop/Book2.csv')

print(df.to_string())

      Name   Age      city
0   Yogita     23      supe
1    Apurva    22    jejuri
2  Maithili    21    satara
3      Arya    22  baramati

In [18]:
import pandas as pd

df = pd.read_excel('Desktop/data.xlsx')

# Displaying the DataFrame
print("DataFrame from Excel file:")
print(df)

DataFrame from Excel file:
    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112     232.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0

In [20]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [21]:
import pandas as pd

# Define a 2D array (matrix)
data_matrix = [
    [1, 'Alice', 25],
    [2, 'Bob', 30],
    [3, 'Charlie', 35],
    [4, 'David', 40],
    [5, 'Emily', 45]
]

# Define column names
columns = ['ID', 'Name', 'Age']

# Create DataFrame from matrix and column names
df_matrix = pd.DataFrame(data_matrix, columns=columns)

# Display DataFrame
print("DataFrame from matrix:")
print(df_matrix)

DataFrame from matrix:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   5    Emily   45

In [22]:
import pandas as pd

# Define a dictionary
data_dict = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45]
}

# Create DataFrame from dictionary
df_dict = pd.DataFrame(data_dict)

# Display DataFrame
print("DataFrame from dictionary:")
print(df_dict)

DataFrame from dictionary:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   5    Emily   45